table, th, td {
    border: 1px solid #bbb;
    border-collapse: collapse;
    padding: 10px;
}


#productsPoolTest tr td img{
    border:1px solid #96D4D4; 
    border-radius:5px; 
    width:100px;
}

#productsPoolTest tr {
    border-bottom: 1px solid #96D4D4;
}

#tProductos{
    border:1px solid #96D4D4; 
}